#include <pgmspace.h>

#define SECRET

const char WIFI_LOCAL_SSID[] = "yourInBoxRouterSsid";
const char WIFI_LOCAL_PASSWORD[] = "InBoxRouterPassword";
const char WIFI_REMOTE_SSID[] = "yourRemoteRouterSsid";
const char WIFI_REMOTE_PASSWORD[] = "RemoteRouterPassword";

